.v-selection-control {
  .v-selection-control__input i {
    border: 1px solid #b6b6b7 !important;
    border-radius: 4px !important;
    transition: 0.4s;
    &::before {
      content: unset;
    }
    &.mdi-checkbox-marked {
      background-color: rgba(var(--v-theme-primary), 1);
      border: none !important;

      &::after {
        content: '';
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 5px;
        top: 1px;
        width: 6px;
        height: 11px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        transform-origin: bottom left;
        transform: rotate(45deg);
        color: #fff;
      }
    }
  }
}
