@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@font-face {
  font-family: "ExpoArabic";
  font-weight: 200;
  src: url("@/assets/fonts/ExpoArabic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoArabic";
  font-weight: 400;
  src: url("@/assets/fonts/ExpoArabic-Book.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoArabic";
  font-weight: 500;
  src: url("@/assets/fonts/ExpoArabic-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "ExpoArabic";
  font-weight: 700;
  src: url("@/assets/fonts/TripSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "TripSans";
  font-weight: 400;
  src: url("@/assets/fonts/TripSansMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TripSans";
  font-weight: 500;
  src: url("@/assets/fonts/TripSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TripSans";
  font-weight: 700;
  src: url("@/assets/fonts/TripSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ClashDisplay";
  src: url("@/assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
}
